<h1>Add a doctor:</h1>
<form action="/doctor/intake/form" method="post">
  <div class="form-group">
    <input id="doctor_name" name="doctor_name" class="form-control" type="text" placeholder="Doctor Name" required>
  </div>
  <div class="form-group">
    <input id="doc_specialty" name="doc_specialty" class="form-control" type="text" placeholder="Specialty" required>
  </div>

  <button type="submit" class="btn btn-default">Add</button>
</form>
