<div class="jumbotron">
  <h1>Medical Center</h1>
</div>

<a href="/doctors"><button type="button" class="btn btn-default">View Doctors</button></a>
<a href="/patient/intake/form"><button type="button" class="btn btn-default">Add new patient</button></a>
