<h3>Add patient:</h3>
<form action="/patient/intake/form" method="post">
  <div class="form-group">
    <input id="patient_name" name="patient_name" class="form-control" type="text" placeholder="Patient Name" required>
  </div>
  <div class="form-group">
    <input id="patient_bday" name="patient_bday"class="form-control" type="text" placeholder="Patient Birthday (YYYY-MM-DD)" required>
  </div>

  <select class="form-control" name="doctor_select">
    <% @doctors.each do |doctor| %>
      <option value='<% doctor.id %>'><%= doctor.name %>, <%= doctor.specialty %></option>
    <% end %>
  </select>

  <button type="submit" class="btn btn-default">Button Text</button>
</form>
